@font-face {
font-family: "OpenSans, Helvetica, Arial";
src: 
url('/sources/fonts/OpenSans-Regular.woff') format("woff"),
url('/sources/fonts/OpenSans-Regular.woff2') format("woff2"),
url('/sources/fonts/OpenSans-Regular.ttf') format('truetype'),
url('/sources/fonts/OpenSans-Bold.woff') format("woff"),
url('/sources/fonts/OpenSans-Bold.woff2') format("woff2"),
url('/sources/fonts/OpenSans-Bold.ttf') format('truetype');
}



body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:0px; 
  margin:0px;
}

body, 
html {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  overflow-y: visible;
}

body {
  width: 100%;
  height: 100%;   
}

.uppercase-text {
  text-transform: uppercase;
}

header, 
footer {
    align-items: center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #0f0f31;
}

header {
  color: white;
  background-size: cover;
}

p {                                    /*+*/
  text-align: left;
  color: #000;
}

.top__title {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top__body::before {
  background-size: cover;
  background-position: center;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.top__body::after {
  background-color: #090c35;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}



.top__title,
.top__title1,
.footer__title,
.footer__subtitle {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
}

.surface_logo path:first-child {
  border: 1px solid #4524a5;
}

.surface_logo_text {
  margin-left: auto;
  margin-right: auto;
}

.apple__icon,         
.surface_logo_text,
.surface_logo_text_f,
.google__icon,
.surface_logo {
  fill: #ffffff;  
}

.download {
  background: #5e42b0;
  color: #fff;
  cursor: pointer;
}

.download > .fa {
  color: #fff;
}

.df,
.dfn {
  text-transform: uppercase;
}

.dfn {
  font-weight: 700;
}

.download:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.download_app__title {
  color: white;
  margin-bottom: 0;
}

.subtitle {
    color: #9b8ec1;
    margin: 0;
}

.surface_logo {
    background: linear-gradient(to top, #50379a,#7756d5);
    border-radius: 25%;
    box-sizing: border-box;
}

.athlets__title
.players__title {
  color: #e7e7e7;
  text-align: left;
}

section > h2 {
  color: #e7e7e7;
  text-align: left;
}

.connection-block > h3, 
.collaboration-block > h3, 
.growth-block > h3 {
  color: #c1c1c1;
  text-align: left;
}

.be-active > .rectangle > span::after, 
.find-contact > .rectangle > span::after,
.work-it > .rectangle > span::after{
  background-color: #8f7bc8;
}

.be-active > .rectangle > span,
.find-contact > .rectangle > span,
.work-it > .rectangle > span{
  margin: auto;
  color: #ffffff;
}

.connection-block {
  background-color: #ffffff;
}

.collaboration-block {
  background-color: #f5f4f9;
}

.athlets_page .growth-block {
  background-color: #5e42b0;
  color: #ffffff;
}

.athlets_page .growth-block .third-option::after {
  background-color: white;
}

.players_page .growth-block {
  background-color: #090c35;
  color: #ffffff;
}

.players_page .growth-block .third-option {
  color: #8765dd;
}

 players_page .growth-block .third-option::after {
  background-color: white;
}

.be-active > .rectangle, 
.find-contact > .rectangle, 
.work-it > .rectangle {
    background: #5e42b0;
    display: flex;
    position: relative;
}

.first-option, 
.second-option, 
.third-option {
  color: black;
  position: relative;
  top: -8px;
  font-weight: 700;
}

.first-option::after, 
.second-option::after, 
.third-option::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #5e42b0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -3px;
  left: 0;
}

picture > img {
  width: 100%;
}

footer::before {
  background-size: cover;
  background-position: center;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
}

footer::after {
  background-color: #090c35;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -3;
  opacity: 0.9;
}

footer {
  background-color: #0a0e34;
}


@media (max-width: 640px) {
  body {
      min-width: 320px;
  }
    
  .top__body::before {
     background-image: url("../sources/images/football_767.jpg");
   }
  
  h1, 
  h2, 
  p {
    letter-spacing: 2px; 
  }
  
  h2 {
    font-size: 1.4em;
    line-height: 34px; /*перевести в em*/       
  }  
  
  p {
    font-size: 15px;  /*перевести в em*/
    margin: 20px; /*перевести в em*/
    line-height: 18px; /*перевести в em*/
  }
    
  .top__title {
    font-size: 28px;
    line-height: 1;
    padding: 0 20px;
    margin: 173px auto 0 auto;
    width: 100%;
    min-width: 60%;
  }
    
  .top__title > span:last-child {
    margin-left: 44px;
    margin-top: 31px;
    }
  
  .surface_logo_text {
    width: 8.25em;
    margin-top: 33px;
    }
    
    img {
        width: 100%;
        height: auto;
    }
  
    .download {
  min-width: 100%;
  width: 280px;
  height: 35px;
  float: left;
  border-radius: 25px;
  position: relative;
  box-sizing: border-box;
  
}

  .download > .fa {
    position: absolute;
  top: calc(50% - 12px);
  left: 104px;  
}

  .df,
  .dfn {
  position: absolute;
  left: 142px;
}

  .df {
  top: calc(25% - 0.5em);
  font-size: 0.5em;
}

  .dfn {
    margin-top: 2em;
    font-size: 0.5em;
  }
    
  .google__icon, 
  .apple__icon {
    position: absolute;
    height: 24px;
  }
  
  .apple {
    margin-top: 0.875em; 
    margin-bottom: 15px; 
  }

  .android {
    margin-bottom: 85px;
  }
    
  .surface_logo {
        width: 72px;
        height: 74px;
        padding: 12px 6px;
        margin-top: 99px;
    }
    
    .download_app__title {
        font-size: 32px;
        margin-top: 59px;
        line-height: 1;
        letter-spacing: 0.5px;
    }
    
    .subtitle {
        font-size: 14px;
        margin: 14px 0 0 0;
    }
    
    .store_buttons {
        width: calc(100% - 40px);
        padding-bottom: 84px;
        margin-top: 90px;
    }
    
    .athlets__title, 
    .players__title {
        font-size: 50px;
        margin: 24px 0 0 0;
        padding-left: 20px;
        line-height: 1;
        letter-spacing: 0.5px;
    }
    
    .athlets_page picture {
        position: absolute;
        margin-top: 12px;
        left: calc(50% - 150px/2);
    }
    .players_page picture {
        position: absolute;
        margin-top: 15px;
        left: calc(50% - 151px);
    }
    .connection-block {
        margin-top: 244px;
    }
    .be_active_title, 
    .work_it__title, 
    .find_contact_title {
        font-size: 28px;
        padding-left: 20px;
        line-height: 1;
    }

    .connection-block > h3, 
    .collaboration-block > h3, 
    .growth-block > h3 {
        font-size: 23px;
        padding-left: 20px;
        line-height: 1;
        letter-spacing: 0.5px;
        padding-bottom: 27px;
        margin: 0;
    }
    .connection-block > h3 {
        padding-top: 60px;
    }
    
    .first-option, 
    .second-option, 
    .third-option {
       font-size: 14px;
    }
    
   .first-option::after, 
    .second-option::after, 
    .third-option::after {
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -4px;
        left: 0;
    }
    
   .be-active > .rectangle, 
    .find-contact > .rectangle, 
    .work-it > .rectangle {
       width: 70px;
       height: 70px;
       margin-left: 20px;
       margin-top: -58px;
   }
      section p {
       padding-left: 20px;
       padding-right: 20px;
   }
    
   .athlets_page p, 
   .players_page p {
       font-size: 15px;
       letter-spacing: 1px;
       margin: 0;
   }
    
   .be-active p, 
    .find-contact p, 
    .work-it p {
       margin: 0;
       padding-top: 24px;
       font-size: 1em;
    }
    
   .be-active p, 
   .find-contact p {
       padding-bottom: 77px;
   }
   .work-it p {
       padding-bottom: 57px;
   }
   .connection-text {
       padding-bottom: 53px;
   }
   .collaboration-text {
       padding-bottom: 53px;
   }
    
   .athlets_page .growth-text, 
   .players_page .growth-text {
       padding-bottom: 56px;
      color: white;
   }
   
   .athlets_page .collaboration-block > h3,
   .players_page .collaboration-block > h3 {
       padding-top: 55px;
   }
    
   .athlets_page .growth-block > h3,
   .players_page .growth-block > h3 {
       padding-top: 55px;
   }
  
   .be_active_title,
   .find_contact_title, 
   .work_it__title {
       margin: 25px 0 0 0;
   }
    
    footer::before {
    background-image: url("../sources/images/game_767.jpg");
  }
    
    footer .store_buttons {
        margin-top: 77px;
        margin-left:auto;
    margin-right:auto;
    }
    
    footer .surface_logo_text {
        margin-bottom: 6px;
        margin-top: 86px;
    }
   
}

@media (min-width: 641px) {
  .body {
    display: flex;
    flex-wrap: wrap;
  }

  .players_page, 
  .athlets_page {
    display: flex;
    width: 100%;
  }
    
  .download { 
    width: 310px;
    height: 77px;
    border-radius: 45px;
    position: relative;
  }
    
  .download > .fa {  
    position: absolute;
    top: calc(50% - 22px);
    left: 60px;  
  }

  .df,  
  .dfn {
    position: absolute;
    left: 125px;
  }

  .df { 
    top: calc(50% - 18px);
    font-size: 14px;   /*перевести в em*/
  }

  .dfn {
    margin-top: 40px; /*перевести в em*/
    font-size: 14px; /*перевести в em*/
  }                           
    
  .google__icon,
  .apple__icon {
    height: 44px;
  }
 
}
 




@media all and (min-width: 641px) and (max-width: 960px) {
        
    .top__body::before {
     background-image: url("../sources/images/football_1280.jpg");
   }
  
  
  footer::before { 
     background-image: url("../sources/images/game_1280.jpg");
   }
    
    .surface_logo_text {
        width: 26.7%;
        height: 56px;
    margin-left:auto;
    margin-right:auto;
    margin-top:32px;
    }
    
    p {
    font-size: 16px;  /*!перевести в em*/
    margin-left: 32px; /*перевести в em*/
    line-height: 28px; /*перевести в em*/
  }
    .top__title {
        font-size: 64px;
        line-height: 1;
        margin-top: 183px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        max-width: 650px;
    }

    .top__title > span:last-child {
        margin-left: 100px;
        margin-top: 32px;       
    }
    
  
    header .store_buttons {
        margin-top: 360px;
        margin-bottom: 91px;
    }
    .store_buttons {
        width: 85%;
        display: flex;
        justify-content: space-between;
        /*flex-flow: row nowrap;*/
        /*height: 77px;*/
        margin-left:auto;
    margin-right:auto;
    }
    
    .athlets_page,
    .players_page {
    display: flex;
    width: 100%;
    flex-direction: column;
  } 
    
    section > h2, 
    .download_app__title {
        font-size: 80px;
        line-height: 60px;
    }
    
    .athlets__title {
        margin-top: 88px;
        margin-left: 300px;
        margin-bottom: 0;
    }
    
    .athlets_page > div {
        padding-left: 300px;
        padding-right: 30px;
        text-align: left;
    }
    
    .athlets_page > picture {
        position: absolute;
        margin-top: 94px;
        left: -162px;
    }

    .connection-block {
        background: none;
    }
    
    .connection-block > h3, 
    .collaboration-block > h3, 
    .growth-block > h3 {
        font-size: 32px;
        letter-spacing: 0.5px;
        margin: 0;
        line-height: 1;
    }
    .connection-block > h3 {
        padding-top: 62px;
        padding-bottom: 33px;
    }
    .connection-block p {
        padding-bottom: 51px;        
    }
    
    .collaboration-block > h3 {
        padding-top: 42px;
        padding-bottom: 32px;
    }
    
    .collaboration-text {
        padding-bottom: 30px;
    }
    
    .athlets_page .first-option, 
    .athlets_page .second-option, 
    .athlets_page .third-option,
    .players_page .first-option, 
    .players_page .second-option, 
    .players_page .third-option{
        font-size: 18px;
    }
    
    .athlets_page > div > p {
        margin: 0;
        font-size: 16px;
        letter-spacing: 0.04em;
        word-spacing: 0.01em;
        line-height: 1.75em; 
    }
    
    .athlets_page .growth-block {
        margin: 0;        
    }
    
    .athlets_page .growth-block > h3 {
        padding-top: 42px;
        padding-bottom: 32px;
    }
    
    .athlets_page .growth-block > p {
        padding-bottom: 43px;
        color: white;
    }
    
    .players_page > .players__title {
        margin-top: 83px;
        margin-bottom: 0;
    }
    
    .players__preview {
      display: flex;
        align-items: flex-end;
    }
    
   
    
    .players_page > picture {
       /* position: absolute;*/
        top: 45px;
/*align-items: flex-end;*/
        right: -205px;
        flex-shrink: 0;
        max-width: 440px;
    }
    
    .players_page > h2, 
    .players_page > div {
        padding-left: 32px;
    }
    
    .players_page .connection-block > h3, .players_page .collaboration-block > h3 {
        margin: 0;
        text-align: left;
    }
    .players_page .connection-text, 
    .players_page .collaboration-text {
        font-size: 1em;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    .players_page .connection-text,
    .players_page .collaboration-text {
        padding-bottom: 44px;
        margin: 0;
        width: 65%;
        max-width: 385px;
    }
    
    
    .players_page .growth-text {
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 48px;
        margin: 0;
        letter-spacing: 0.5px;
    }
    .players_page .growth-block > h3 {
        padding-top: 55px;
        padding-bottom: 32px;
        text-align: left;
    }
    
    .players_page .growth-block > p {
        color: white;
        font-size: 18px;
    }
    
    .players_page p {
        margin-bottom: 0;
    }
    
    
    .be-active .first-option, 
    .find-contact .second-option, 
    .work-it .third-option {
        font-size: 24px;
        line-height: 35px;
    }
    .rectangle {
        width: 116px;
        height: 116px;
        margin-left: 33px;
        margin-top: -82px;
    }
    .be-active > h2, 
    .be-active > p, 
    .find-contact > h2, 
    .find-contact > p, 
    .work-it > h2, 
    .work-it > p {
        padding-left: 33px;
    }
    
    .be-active > p, 
    .find-contact > p, 
    .work-it > p {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.5px;
        padding-right: 33px;
        margin: 0;
          word-spacing: 0.05em;
    }

    .be-active > p {
        padding-bottom: 97px;
    }
    .be-active > h2, 
    .find-contact > h2, 
    .work-it > h2 {
        padding-top: 55px;
        padding-bottom: 38px;
        margin: 0;
    }
    .find-contact > p {
        padding-bottom: 99px;
    }
    
    .work-it > p {
        padding-bottom: 101px;
    }
    
    footer {                                                 /*+*/
  width: 100%;
  padding-top:7.9%;
  padding-bottom: 2.6%;
  background-size: cover;
  background-color:#090c35;
}
    .surface_logo {                                                   /*+*/
      /*display: block;*/
     width: 131px;
  background-color: #6f4ecb;
        margin: auto;
  border-radius: 28px;
  padding: 28px 25px;
    }
   
    
    .download_app__title {
        margin-top: 83px;
        letter-spacing: 1px;
        text-align: center;
    }
    
    .subtitle {
        color: #a496ca;
        font-size: 36px;
        margin-top: 24px;
    }
    footer > .store_buttons {
        margin-top: 286px;
        margin-bottom: 0px;
    }
    footer > svg:last-child {
        margin-top: 55px;
        margin-bottom: 24px;
    }
}



@media (min-width: 961px) and (max-width: 1920px) {
    .body { 
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  } 
    
    .top__body::before {
    background-image: url("../sources/images/football_1920.jpg");
  }
    
  .footer__body::before {
    background-image: url("../sources/images/game_1920.jpg");
  }
    
    .surface_logo_text {
    width: 11.87em; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.3%;
  }    

    .top__title {
        font-size: 90px;
        line-height: 1;
        margin-top: 295px;
        width: 100%;
        max-width: 1600px;
        min-width: 900px;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .top__title > span:last-child {
        margin-top: 26px;
        text-align: right;
    }
    .store_buttons {
        display: flex;
        margin-top: 222px;
        width: 35%;
        min-width: 672px;
        flex-flow: row nowrap;
        margin-bottom: 110px;
        height: 77px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .android {    
    margin-left: 3.125em; 
  }
    .athlets_page, 
    .players_page {
      width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
  }
    
    section > h2, .download_app__title {
        font-size: 5em; 
    line-height: 66.078px;   
    /*box-sizing: border-box;*/
    }
    
    .athlets__title {
        margin-top: 285px;
        padding-left: 800px;
        margin-bottom: 50px;
        text-align: left;
    }
    
    .athlets_page > div {
        padding-left: 800px;
        padding-right: 182px;
        text-align: left;
    }
    
    .athlets_page > picture {
        position: absolute;
        margin-top: 270px;
        margin-left: 200px;
    }
    
    /*.athlets_page .connection-block {
        margin: 0;
        padding-bottom: 0px;
    }*/
    
    .athlets_page .connection-block > h3 {
        padding-top: 54px;
        padding-bottom: 32px;
    }
    
    .athlets_page .connection-text {
        padding-bottom: 60px;
    }
    
    .connection-block > h3, 
    .collaboration-block > h3, 
    .growth-block > h3 {
        font-size: 36px;
        letter-spacing: 0.5px;
        margin: 0;
        line-height: 1;
    }
    .athlets_page .first-option, 
    .athlets_page .second-option, 
    .athlets_page .third-option,
    .players_page .first-option, 
    .players_page .second-option, 
    .players_page .third-option{
        font-size: 18px;
        top: -12px;
    }
    .first-option::after, 
    .second-option::after, 
    .third-option::after {
        bottom: -6px;
    }
    
    .athlets_page > div > p {
        margin: 0;
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    .athlets_page .collaboration-block > h3 {
        padding-top: 54px;
        padding-bottom: 32px;
    }
    
    .athlets_page .collaboration-text {
        padding-bottom: 64px;
    }
    
    .athlets_page .growth-block {
        margin: 0;
        padding-left: 800px;
    }
    
    .athlets_page .growth-block > h3 {
        padding-top: 54px;
        padding-bottom: 32px;
    }
    
    .athlets_page .growth-block > .growth-text {
        padding-bottom: 62px;
        color: white;
    }
        
    .players__preview {
        display: flex;
    }
    
    .players_page > .players__title {
        margin-top: 116px;
        margin-bottom: 0;
    }
    
    .players_page, .to_do {
        position: relative;
    }
     .players__preview {
        position: absolute;
        margin-top: 75px;
        right: 0;
        margin-right: 0;
        top: 0;
        flex-shrink: 0;
    }
    
    .players_page > h2, 
    .players_page > div {
        padding-left: 200px;
        text-align: left;
    }
    
    .players_page .connection-block {
        margin: 0;
    }
    
    .players_page .connection-block > h3 {
        padding-top: 54px;
        padding-bottom: 32px;
    }
    
    .players_page .collaboration-block > h3 {
        margin: 0;
        padding-top: 54px;
        padding-bottom: 32px;
    }
    
    .players_page .connection-text, 
    .players_page .collaboration-text {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.5px;
        width: 30%;
        min-width: 480px;
    }
    
    .players_page .connection-text {
        margin: 0;
        padding-bottom: 71px;
    }
    
    .players_page .collaboration-block {
        margin: 0;
    }
    
    .players_page .collaboration-text {
        margin: 0;
        padding-bottom: 74px;
    }
    
    .players_page .growth-text {
        font-size: 20px;
        line-height: 34px;
        padding-bottom: 92px;
        margin: 0;
        letter-spacing: 0.5px;
        color: white;
    }
    
    .players_page p {
        margin-bottom: 0;
    }
    
    .players_page .growth-block > h3 {
        padding-top: 54px;
        padding-bottom: 32px;
    }
    
    .athletes .growth-block > .growth-text {
        margin: 0;
        padding-bottom: 92px;
    }
    
    /*.to_do {
        flex-direction: column;
    }*/
    
    .be-active, 
    .find-contact, 
    .work-it {
        display: flex;
        position: relative;
    }   
    
    .be-active .first-option, 
    .find-contact .second-option, 
    .work-it .third-option {
        font-size: 24px;
        line-height: 35px;
    }
    
    .rectangle {
        width: 168px;
        height: 155px;
        left: calc(50% - 84px);
        top: 20%;
        position: absolute !important;
    }
    
    .find-contact > picture, 
    .work-it > picture, 
    .be-active > picture {
        height: auto;
        max-width: 50%;
    }
    
    .be-active > h2, 
    .work-it > h2 {
        margin: 0;
        position: absolute;
        top: 25%;
        left: calc(50% + 122px);
    }
    
    .be-active > p, 
    .find-contact > p, 
    .work-it > p {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    
    .be-active > p, 
    .work-it > p {
        position: absolute;
        top: 55%;
        left: calc(50% + 122px);
        width: 35%;
        margin: 0;
    }
    
    .find-contact > picture {
        margin-left: auto;
        width: 50%;
    }
    
    .find-contact > h2 {
        position: absolute;
        top: 30%;
        left: 5%;
        width: 40%;
        margin: 0;
    }
    
    .find_contact__preview {
  order: 2;
}
    
    
    .find-contact > p {
        position: absolute;
        top: 55%;
        left: 5%;
        width: 25%;
        margin: 0;
        min-width: 405px;
    }

    .work-it > p {
        width: 40%;
    }

    footer {
       width:100%;
  background-repeat: no-repeat;
  box-sizing: border-box; 
    }
    
    .surface_logo {
       width: 94px;
  height: 94px;
  background-color:#6f4ecb;
  border-radius: 28px;
  padding: 18px 14px;
    }  
    
    .download_app__title {
        letter-spacing: 1px;
        position: relative;
        margin-top: 251px;
        margin-left: 100px;
        text-align: left;
    }
    
    .subtitle {
        color: #a496ca;
        position: relative;
        margin-top: 10px;
        left: -15px;
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
        text-align: left;
        margin-left: 100px;
    }
    
    .footer-text {
        display: flex;
        margin: auto;
    }
    
    footer > .store-buttons {
        margin-top: 164px;
        margin-bottom: 0;
    }
    
    footer > svg:last-child {
        width: 191px;
        height: 52px;
        margin-top: 262px;
        margin-bottom: 48px;
    }
    
    
    
    footer > .store_buttons {
        margin-top: 286px;
        margin-bottom: 100px;
    }
    
    footer > .surface_logo_text {
        margin-bottom: 20px;
    }
}


@media (min-width: 961px) and (max-width: 1175px) {
    .top__title {
        max-width: 900px;
    }    
}


@media (min-width: 961px) and (max-width: 1059px) {
    .athlets_page picture {
        margin-left: 0px;
    }
    
    .players_page > h2, 
    .players_page > div {
        padding-left: 10px;
    }
    
    .players_page > picture {
        right: -275px;
    }
    
    .athlets_page > div:not(.growth-block) {
        padding-left: 600px;
    }
    
    .athlets_page .growth-block {
        padding-left: 600px;
    }
    
    .athlets_page > .athlets__title {
        padding-left: 600px;
    }
    
    .be-active .be_active_title, 
    .find-contact .find_contact_title {
        top: 17%;
        line-height: 1;
    }
    
    .be-active > p {
        top: 70%;
    }
    
    .find-contact .find_contact_title, 
    .find-contact > p {
        left: 0;
    }
    
    .find-contact > p {
        min-width: 400px;
        top: 65%;
    }
    
    .work-it > .work_it__title {
        top: 30%;
    }
    
    .work-it > p {
        width: 35%;
        top: 60%;
    }
}


@media (min-width: 1060px) and (max-width: 1235px) {
    .athlets_page picture {
        margin-left: 100px;
    }
    .players_page > h2, .players_page > div {
        padding-left: 100px;
    }
    .players_page > picture {
        right: -300px;
    }
    .athlets_page > div:not(.growth-block) {
        padding-left: 700px;
    }
    .athlets_page .growth-block {
        padding-left: 700px;
    }
    .athlets_page > .athlets__title {
        padding-left: 700px;
    }

}


@media all and (min-width: 1236px) and (max-width: 1450px) {
    .players_page > picture {
        right: -210px;
    }
}

@media all and (min-width: 1601px) {
    .players_page > picture {
        right: 6.5%;
    }
}



@media all and (min-width: 1921px) {
    header {
        background-image: url("..sources/images/football_1920.jpg");
    }
    footer {
        background-image: url("../sources/images/game_1920.jpg");
    }
    header > .surface_logo_text {
        width: 191px;
        height: 52px;
        margin-top: 45px;
    }
    .top__title {
        font-size: 90px;
        line-height: 1;
        margin-top: 295px;
        width: 100%;
        max-width: 1600px;
        min-width: 900px;
        padding: 0 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .top__title > span:last-child {
        margin-top: 26px;
        margin-left: 451px;
    }
    .store-buttons {
        margin-top: 222px;
        width: 35%;
        min-width: 672px;
        flex-flow: row nowrap;
        margin-bottom: 110px;
        height: 77px;
    }

    section > h2, .download_app__title {
        font-size: 80px;
        line-height: 1;
    }
    .athlets__title {
        margin-top: 115px;
        padding-left: 800px;
        margin-bottom: 0;
    }
    .athlets_page > div {
        padding-left: 800px;
        padding-right: 50px;
    }
    
    .athlets_page > picture {
       /* position: absolute;*/
        margin-top: 0px;
        margin-left: 200px;
    }
    
    .athlets_page .connection-block {
        margin: 0;
        padding-bottom: 0px;
    }
    
    .athlets_page .connection-block > h3 {
        padding-top: 94px;
        padding-bottom: 31px;
    }
    
    .athlets_page .connection-text {
        padding-bottom: 60px;
    }
    
    .connection-block > h3, .collaboration-block > h3, .growth-block > h3 {
        font-size: 36px;
        letter-spacing: 0.5px;
        margin: 0;
        line-height: 1;
    }
    
    .athlets_page .first-option, 
    .athlets_page .second-option, 
    .athlets_page .third-option,
    .players_page .first-option, 
    .players_page .second-option, 
    .players_page .third-option{
        font-size: 18px;
        top: -12px;
    }
    
    .first-option::after, 
    .second-option::after, 
    .third-option::after {
        bottom: -5px;
    }
    
    .athlets_page > div > p {
        margin: 0;
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    .athlets_page > .collaboration-block {
        padding-bottom: 0;
        margin: 0;
    }
    
    .athlets_page .collaboration-block > h3 {
        padding-top: 63px;
        padding-bottom: 32px;
    }
    
    .athlets_page .collaboration-text {
        padding-bottom: 64px;
    }
    
    .athlets_page .growth-block {
        margin: 0;
        padding-left: 800px;
    }
    
    .athlets_page .growth-block > h3 {
        padding-top: 90px;
        padding-bottom: 31px;
    }
    
    .athlets_page .growth-block > .growth-text {
        padding-bottom: 102px;
    }
    
    .players_page > .players__title {
        margin-top: 116px;
        margin-bottom: 0;
    }
    
    .players_page > picture {
        position: absolute;
        margin-top: -25px;
        right: unset;
        margin-right: 0;
        top: 0;
        margin-left: 800px;
        min-width: 960px;
        max-width: 960px;
    }
    .players_page > h2, .players > div {
        padding-left: 200px;
    }
   .players_page .connection-block {
        margin: 0;
    }
    .players_page .connection-block > h3 {
        padding-top: 92px;
        padding-bottom: 32px;
    }
    .players_page .collaboration-block > h3 {
        margin: 0;
        padding-top: 62px;
        padding-bottom: 41px;
    }
    
    .players_page .connection-text, 
    .players_page .collaboration-text {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.5px;
        width: 50%;
    }
    
    .players_page .connection-text {
        margin: 0;
        padding-bottom: 71px;
    }
    
    .players_page .collaboration-block {
        margin: 0;
    }
    
    .players_page .collaboration-text {
        margin: 0;
        padding-bottom: 74px;
    }
    
   .players_page .growth-text {
        font-size: 20px;
        line-height: 34px;
        padding-bottom: 92px;
        margin: 0;
        letter-spacing: 0.5px;
    }
    .players_page p {
        margin-bottom: 0;
    }
    .players_page .growth-block > h3 {
        padding-top: 97px;
        padding-bottom: 33px;
    }
    .athlets_page .growth-block > .growth-text {
        margin: 0;
        padding-bottom: 92px;
    }
    
    .be-active .first-option, 
    .find-contact .second-option, 
    .work-it .third-option {
        font-size: 24px;
        line-height: 35px;
    }
    
    .rectangle {
        width: 168px;
        height: 155px;
        left: calc(50% - 84px);
        top: 20%;
        position: absolute !important;
    }
    
    .find-contact > picture, 
    .work-it > picture, 
    .be-active > picture {
        width: 50%;
        max-width: 50%;
    }
    
    .be-active > h2, 
    .work-it > h2 {
        margin: 0;
        position: absolute;
        top: 25%;
        left: calc(50% + 122px);
    }
    
    .be-active > p, 
    .find-contact > p, 
    .work-it > p {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    
    .be-active > p, 
    .work-it > p {
        position: absolute;
        top: 55%;
        left: calc(50% + 122px);
        width: 35%;
        margin: 0;
    }
    
    .find-contact > picture {
        margin-left: auto;
    }
    
    .find-contact > h2 {
        position: absolute;
        top: 30%;
        left: 5%;
        width: 40%;
        margin: 0;
    }
    
    .find-contact > p {
        position: absolute;
        top: 55%;
        left: 5%;
        width: 25%;
        margin: 0;
        min-width: 405px;
    }

    .work-it > p {
        width: 40%;
    }
    
    footer > svg:first-child {
        width: 130px;
        height: 137px;
        padding: 15px;
        top: 229px;
        position: absolute;
        margin: 0;
        left: calc(50% - 440px);
    }
    
    .download_app__title {
        letter-spacing: 1px;
        position: relative;
        margin-top: 251px;
        margin-left: 100px;
    }
    
    .subtitle {
        color: #a496ca;
        position: relative;
        margin-top: 10px;
        left: -15px;
        font-size: 30px;
        line-height: 35px;
    }
    
    footer > .store-buttons {
        margin-top: 164px;
        margin-bottom: 0;
    }
    
    footer > svg:last-child {
        width: 191px;
        height: 52px;
        margin-top: 262px;
        margin-bottom: 48px;
    }

}
